## Import libraries ##

In [7]:
import pandas as pd   
import altair as alt

In [95]:
data = pd.read_csv("global_firepower.csv")
data.shape

(140, 48)

In [96]:
data.head()

,country,country_code,Active Personnel,Aircraft Carriers,Armored Vehicles,Attack Helicopters,Available Manpower,Coastline Coverage,Corvettes,Dedicated Attack,...,Square Land Area,Submarines,Tanker Fleet,Tanks,Total Aircraft Strength,Total Population,Towed Artillery,Trainers,Transports,Waterways (usable)
0,Afghanistan,AFG,0,0,530,0,14611901,0,0,0,...,652230,0,0,0,0,37466414,60,0,0,1200
1,Albania,ALB,8000,0,76,0,1513309,362,0,0,...,28748,0,0,0,19,3088385,0,0,0,41
2,Algeria,ALG,130000,0,6461,45,20916812,998,6,22,...,2381741,6,5,2196,552,43576691,450,87,58,0
3,Angola,ANG,107000,0,1210,15,6728529,1600,0,18,...,1246700,0,0,320,299,33642646,585,61,30,1300
4,Argentina,ARG,83000,0,800,0,20180574,4989,9,6,...,2780400,2,2,349,218,45864941,172,70,22,11000

In [57]:
data.columns = data.columns.str.replace(' ', '_').str.lower()
data.head()

,country,country_code,active_personnel,aircraft_carriers,armored_vehicles,attack_helicopters,available_manpower,coastline_coverage,corvettes,dedicated_attack,...,square_land_area,submarines,tanker_fleet,tanks,total_aircraft_strength,total_population,towed_artillery,trainers,transports,waterways_(usable)
0,Afghanistan,AFG,0,0,530,0,14611901,0,0,0,...,652230,0,0,0,0,37466414,60,0,0,1200
1,Albania,ALB,8000,0,76,0,1513309,362,0,0,...,28748,0,0,0,19,3088385,0,0,0,41
2,Algeria,ALG,130000,0,6461,45,20916812,998,6,22,...,2381741,6,5,2196,552,43576691,450,87,58,0
3,Angola,ANG,107000,0,1210,15,6728529,1600,0,18,...,1246700,0,0,320,299,33642646,585,61,30,1300
4,Argentina,ARG,83000,0,800,0,20180574,4989,9,6,...,2780400,2,2,349,218,45864941,172,70,22,11000

In [ ]:
#data[data["country"]=="China"]

In [36]:
#atack_helicop_num = data.groupby("country").agg(num = ("Attack_Helicopters", sum))

## 5 countries with the most Number of Attack Helicopter ##

In [59]:
attack_helicop_num = data[data["attack_helicopters"]>100]
attack_helicop_num = attack_helicop_num[["country", "attack_helicopters"]].sort_values(by="attack_helicopters", ascending=False).reset_index()
attack_helicop_num

   index        country  attack_helicopters
0    132  United States                 910
1    103         Russia                 544
2     26          China                 281
3     58          Japan                 119
4    112    South Korea                 112
5    126         Turkey                 107

In [72]:
chart= (alt.Chart(attack_helicop_num)
            .mark_bar()
            .encode(x = 'country', y="attack_helicopters").properties(width = 800))
chart.save("atack_helicop_num.png")
chart

alt.Chart(...)

## Countries with more than 1200 tanks ##

In [69]:
tanks = data[data["tanks"]>1200]
tanks = tanks[["country", "tanks"]].sort_values(by="tanks", ascending=False)
tanks

           country  tanks
103         Russia  12420
132  United States   6612
89     North Korea   5895
26           China   5250
50           India   4614
35           Egypt   4394
120          Syria   3540
79         Morocco   3335
126         Turkey   3022
52            Iran   2831
93        Pakistan   2824
112    South Korea   2624
129        Ukraine   2596
2          Algeria   2196
136        Vietnam   2044
55          Israel   1900
59          Jordan   1401
46          Greece   1243
29            Cuba   1230

In [71]:
chart= (alt.Chart(tanks)
            .mark_bar()
            .encode(x = 'country', y="tanks").properties(width = 800))
chart.save("tanks.png")
chart

alt.Chart(...)

## Proportion of active personnel and population ##

In [94]:
proportion = data[["country", "active_personnel","total_population"]]
proportion = proportion.assign(proportion = lambda x: (x.active_personnel*100/x.total_population).round(2))
proportion = proportion[proportion["proportion"]>1].sort_values(by="proportion", ascending = False)
proportion

         country  active_personnel  total_population  proportion
89   North Korea           1200000          25831360        4.65
37       Eritrea            175000           6147398        2.85
55        Israel            173000           8787045        1.97
113  South Sudan            175000          10984074        1.59
67       Lebanon             80000           5261372        1.52
5        Armenia             45000           3011609        1.49
46        Greece            130000          10569703        1.23
92          Oman             40000           3694755        1.08
115    Sri Lanka            250000          23044123        1.08
112  South Korea            555000          51715162        1.07
107    Singapore             60000           5866139        1.02

In [90]:
chart= (alt.Chart(proportion)
            .mark_bar()
            .encode(x = 'country', y="proportion").properties(width = 800))
chart.save("proportion.png")
chart

alt.Chart(...)